*{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 191, 255);
}

#padre{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 0 black;
    height: 450px;
}

.hijos{
    background-color: rgb(117, 117, 250);
    padding: 15px;
    width: 50%;
    border-radius:0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculadora{
    background-color: white;
    border-radius:10px 0 0 10px;
}

#calculadora h1{
    font-weight: bold;
    margin: 0;
}

#calculadora .p {
    font-size: 15px;
    color: rgb(142, 142, 142);
}

#calculadora input{
    border: none;
    margin: 10px;
    outline: none;
    background-color: rgb(209, 209, 209);
    padding: 10px 15px;
    width: 60%;
    font-size: 15px;
}

#calculadora button{
    border: none;
    background-color: rgb(117, 117, 250);
    width: 150px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
    font-size: 20px;
}

#calculadora button:hover{
    background-color: rgb(30, 30, 91);
    color: white;
}

#resultados1, #resultados2{
    font-size: 25px;
    margin: 0;
    font-weight: 600;
    color: rgb(0, 0, 239);
    word-spacing: 10px;
}

#comentario h2{
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}

#mayor30{
    display: none;
}

#mayor30 p{
    font-size: 15px;
    margin: 0;
}

#mayor30 button{
    font-size: 17px;
    margin: 10px;
    height: 25px;
    width: 80px;
}